@model IQueryable<StageSyncApp.Models.Artist>

@*
    The @model prevents artist.Bookings from being null when I loop it
    Lazy loading?
*@


@{
    var loggedInUser = User.Identity.Name;
    int id = 0;
    string artistName = "";

    switch (loggedInUser)
    {
        case "sonicvoyager@artist.com":
            id = 1;
            artistName = "Sonic Voyager";
            break;
        case "silverserpent@artist.com":
            id = 2;
            artistName = "Silver Serpent";
            break;
        case "galacticgroovesyndicate@artist.com":
            id = 3;
            artistName = "Galactic Groove Syndicate";
            break;
        default:
            id = -1;
            break;
    }

    int nrOfBookings = 0;

    @foreach (var artist in Model)
    {
        if (artist.Bookings != null)
        {
            int artistBookingsCount = artist.Bookings.Where(booking => booking.ArtistId == id).Count();
            nrOfBookings += artistBookingsCount;
        }
    }
}

<header>
    <div class="header-logo-container">
        <h1 class="header-logo">
            Stage Sync
        </h1>
    </div>
    <div class="header-links-container">
        <a class="header-link" asp-controller="Artists" asp-action="Logout">
            <p class="link-text">
                Log Out
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" asp-controller="Artists" asp-action="Index">
            <p class="link-text underlined">
                Start
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" href="@Url.Action("Details", "Artists", new { id = id })">
            <p class="link-text">
                Bookings
            </p>
        </a>
    </div>
</header>

<div class="overview-container">
    <h1 class="booking-title">
        Hi @artistName!
    </h1>

    @if (nrOfBookings == 0)
    {
        <p class="info-text">
            You have @nrOfBookings bookings
        </p>
    } 
    else if (nrOfBookings == 1)
    {
        <p class="info-text">
            You have @nrOfBookings booking - Go to the Bookings page to view it
        </p>
    } 
    else
    {
        <p class="info-text">
            You have @nrOfBookings bookings - Go to the Bookings page to view them
        </p>
    }

 </div>
