@{
    var loggedInUser = User.Identity.Name;
    int id = 0;

    switch (loggedInUser)
    {
        case "sonicvoyager@artist.com":
            id = 1;
            break;
        case "silverserpent@artist.com":
            id = 2;
            break;
        case "galacticgroovesyndicate@artist.com":
            id = 3;
            break;
        default:
            id = -1;
            break;
    }
}

<header>
    <div class="header-logo-container">
        <h1 class="header-logo">
            Stage Sync
        </h1>
    </div>
    <div class="header-links-container">
@*         <form class="form-inline"
              asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit"
                    class="nav-link btn btn-link header-link-button">
                <p class="link-text">
                    Log Out
                </p>
            </button>
        </form> *@
        <a class="header-link"
           asp-controller="Artists"
           asp-action="Logout">
            <p class="link-text underlined">
                Log Out
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link"
           asp-controller="Artists"
           asp-action="Index">
            <p class="link-text">
                Start
            </p>
        </a>
        <span class="divider">
            /
        </span>
        <a class="header-link" href="@Url.Action("Details", "Artists", new { id = id })">
            <p class="link-text">
                Bookings
            </p>
        </a>
    </div>
</header>

<div class="overview-container">
    <h1 class="booking-title">
        Log out
    </h1>
    <p class="info-text">
        You're about to log out from Stage Sync - are you sure about this?
    </p>
    <br />
    <div class="submit-form-container">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="submit-form">
                Log Out
            </button>
        </form>
    </div>
</div>