@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@100;300&display=swap');

* {
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.main-container {
    height: 100vh;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-color: black;
}

header {
    padding: 10px 25px;
    margin-bottom: 40px;
}

.header-logo-container {
    border-bottom: 1px solid #cee084;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/*.back-arrow {
    width: 25px;
    height: 25px;
}*/

.header-logo {
    font-family: 'Gloock', serif;
    color: #cee084;
    font-size: 62px;
    margin: 0;
}

.back-text {
    color: #f1f2ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

a.back-link {
    text-decoration: none;
}

/* Landing page */

.landing-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

.item-1 {
    padding: 10px 0 0 25px;
}

.item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Gloock', serif;
    color: #cee084;
    font-size: 78px;
    margin: 0;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #f1f2ed;
    text-align: center;
    padding: 0 5px;
}

.login-button-text {
    color: #f1f2ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

a.login-link {
    text-decoration: none;
}

.arrow-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cee084;
    margin-left: 35px;
}

.item-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    padding: 0 25px 10px 25px;
    width: 100%;
}

.landing-text-container {
    width: 70%;
}

.item-3 p {
    color: #f1f2ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/* Log in page */

.login-container {
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

.log-in-title {
    font-family: 'Gloock', serif;
    color: #cee084;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

.log-in-form p {
    color: #f1f2ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.remember-me-container {
    color: #f1f2ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

.submit-login-container {
    display: flex;
    justify-content: center;
}

.submit-login {
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #f1f2ed;
    text-align: center;
    padding: 0 5px;
    background-color: #cee084;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    text-transform: uppercase;
}

/* Booking page */

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-title {
    font-family: 'Gloock', serif;
    color: #cee084;
}

@media screen and (min-width: 768px) {
    .header-logo {
        font-size: 74px;
    }

    .logo {
        font-size: 125px;
    }

    .item-3 p {
        font-size: 18px;
    }

}

@media screen and (min-width: 1024px) {
    .landing-text-container {
        width: 40%;
    }

}