@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

    <header>
        <div class="header-logo-container">
            <h1 class="header-logo">
                Stage Sync
            </h1>
        </div>
        <div class="header-links-container">
            <a class="header-link" asp-page="/Home/Index">
            <p class="link-text">Back</p>
            </a>
        </div>
    </header>
    <div class="login-container">
        <form id="account" method="post" class="log-in-form">
            <h1 class="log-in-title">Log in to Stage Sync</h1>
            <p>Log in by entering your email address and password</p>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3 remember-me-container">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Remember me
                    @* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                    @* <span><p>Remember me</p></span> *@
                </label>
            </div>
            <div class="submit-login-container">
                <button id="login-submit" type="submit" class="submit-login">Log in</button>
            </div>
        </form>
    </div>
   
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
